name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Show current folder
      run: ls
    - name: Build with dotnet
      run: dotnet build src/CheggSolutionsCrawlerNetCore/CheggSolutionsCrawlerNetCore.csproj --configuration Release
